*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.sfondo
{
    background-color: cornflowerblue;
}

#position-left
{
    background-position: center;
    position: fixed;
    top: 200px;
    left: 60px;
}

#position-right
{
    position: fixed;
    top: 200px;
    right: 60px;
}
/* crea la forma della Shortcut" */
.position-fixed div
{
    background-color: brown;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin: 4px;
}

/* link shortcut */
a{
    text-decoration: none;
    color: white;
}

/* posizionamento Shortcut */
.position-fixed
{
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001;    
}

/* centra con transform */
.centra
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}


/* blocchi con 100vh */
#blocco-1 , #blocco-2 , #blocco-3
{
    width: 60%;
    height: 100vh;
    font-size: 50px;
    position: relative;
    margin: auto;
}

/* contenitore con i selettori */
body:first-child
{
    width: 100%;
    margin: auto;
}
/* colore dei blocchi */
.verde
{
    background-color:darkcyan;
}
.rosso
{
    background-color: darkslateblue;
}
.grigio
{
    background-color: grey;
}

/* testo sotto l'immagine */
p
{
    text-align: center;
    color: darkkhaki;
}

.centra img:hover
{
    background-color: lightslategray;
}


.menu 
    {
    width: 20%;
    float: left;
    background: darkred;
    position: fixed;
    text-align: center;
    margin: auto;
    }

.menu ul
    {
    list-style-type: none;
    }

.menu li
    {
    width:100px;
    float:left;
    color:black;
    }

.menu a
    {
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
    }
.menu a:hover
    {
    background-color: #000033;
    color: #FFFFFF;
    text-decoration: none;
    }
.menu li ul
    {
    display: none
    }

.menu li:hover ul
    {
    display: block;
    position: absolute;
    z-index:1;
    width:130px;
    background: lightgray;
    }