*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* blocchi con 100vh */
#blocco-1 , #blocco-2 , #blocco-3
{
    width: 100%;
    height: 100vh;
    font-size: 50px;
    position: relative;
}

/* contenitore con i selettori */
body:first-child
{
    width: 1280px;
    margin: auto;
}

/* crea la forma della Shortcut" */
.position-fixed div
{
    background-color: brown;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    margin: 4px;
}

/* link shortcut */
a{
    text-decoration: none;
    color: white;
}

/* posizionamento Shortcut */
.position-fixed
{
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001;    
}

/* centra con transform */
.centra
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}


/* colore dei blocchi */
.verde
{
    background-color:darkcyan;
}
.rosso
{
    background-color: darkslateblue;
}
.grigio
{
    background-color: grey;
}

/* testo sotto l'immagine */
p
{
    text-align: center;
    color: darkkhaki;
}